@page "/customer"
@inject HttpClient Http

<PageTitle>Customer</PageTitle>

<h1>Customer</h1>

@if (Customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>BirthDat</th>
            <th>PhoneNumber</th>
            <th>BankAccountNumber</th>
        </tr>
        </thead>
        <tbody>
        @foreach (MC2.CrudTest.Core.Domain.Model.Customer customer in Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.DateOfBirth.ToShortDateString()</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.BankAccountNumber</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private MC2.CrudTest.Core.Domain.Model.Customer[]? Customers;

    protected override async Task OnInitializedAsync()
    {
        Customers = await Http.GetFromJsonAsync<MC2.CrudTest.Core.Domain.Model.Customer[]>("Customer/customers");
    }

}